<section class="content">
  <ul class="list">
    <li class="item left">
      <img src="/img/1.jpg" alt="" class="img" />
    </li>
    <li class="item right">
      <img src="/img/2.jpg" alt="" class="img" />
    </li>
    <li class="item left">
      <img src="/img/3.jpg" alt="" class="img" />
    </li>
    <li class="item right">
      <img src="/img/4.jpg" alt="" class="img" />
    </li>
    <li class="item left">
      <img src="/img/5.jpg" alt="" class="img" />
    </li>
    <li class="item right">
      <img src="/img/6.jpg" alt="" class="img" />
    </li>
    <li class="item left">
      <img src="/img/7.jpg" alt="" class="img" />
    </li>
    <li class="item right">
      <img src="/img/8.jpg" alt="" class="img" />
    </li>
    <li class="item left">
      <img src="/img/9.jpg" alt="" class="img" />
    </li>
    <li class="item right">
      <img src="/img/10.jpg" alt="" class="img" />
    </li>
  </ul>
</section>
